* {
	padding: 0;
	margin: 0;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
	cursor: pointer;
}
body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 0 20px;
	color: #404D5B;
	background-color: #f9f7f6;
}
.clearBoth {
	clear: both;
}

/*内容*/
.outer {
	width: 100%;
	margin-top: 150px;
}
.inner {
	width: 800px;
	margin: 0 auto;
	text-align: center;
	position: relative;
}
input {
	padding: 10px 0px 10px 10px;
	width: 200px;
	border: 1px solid #ccc;
	border-radius: 5px;	
}
input:focus {
	box-shadow: 0 0 5px 0 #337AB7;
}
p {
	margin-top: 20px;
}
.btn, .cancel {
	display: inline-block;
	width: 80px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background-color: #e14041;
	color: #fff;
	border-radius: 5px;
}
.cancel {
	margin-left: 10px;
}
.btn:hover, .cancel:hover {
	background-color: #ff4041;
}
p span {
	color: #e14041;
	display: inline-block;
	width: 150px;
	padding: 8px 0 8px 8px;
	position: absolute;
	font-size: 14px;
	text-align: left;
}
.tip {
    position: relative;
}
.content {
    position: absolute;
    color: #e14041;
    left: 400px;
    top: -30px;
}