@charset "utf-8";

* {
	padding: 0;
	margin: 0;
}
body {
	font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
	background-color: #FFFFFF;
	list-style: none;
	font-size: 12px; 
	background-color: #EDEDED;
}
a {
	text-decoration: none;
}
ul {
	list-style: none;
}
button input {
	outline: none;
}
/*消除浮动造成的影响*/
.clearBoth {
	clear: both;
}

/*顶部一行*/
.header {
	width: 100%;
	margin: 0 auto;
	box-shadow: 0 0 10px rgba(9, 2, 4, .12);
	background: url(../images/system/topstatus.png) repeat-x;
}
.headerTop {
	width: 100%;
}
/*顶部列表*/
.headerNav {
	width: 100%;
	border-bottom: 1px solid #eaeaea;
}
.topNav {
	width: 1200px;
	height: 17px;
	padding-top: 8px;
	padding-bottom: 8px;
	margin: 0 auto;
}
/*欢迎标语*/
.topNavWel {
	float: left;
	margin-left: 10px;
	color: #878787;
}
/*登录注册*/
.topNavLogin {
	float: left;
	margin-left: 40px;
	list-style: none;
}
.topNavLogin li {	
	float: left;
}
.topNavLogin li a {
	display: inline-block;
	width: 70px;
	text-align: center;
	color: #E14041;
}
.topNavLoginLiA {
	border-right: 1px #878787 solid;
}
/*快捷链接*/
.topNavEntry {
	float: right;
	list-style: none;
}
.topNavEntry li {
	float: left;
	width: 100px;
	text-align: center;
}
.topNavEntryS {
	border-right: 1px #878787 solid;
}
.topNavEntry li a {
	display: inline-block;
	color: #878787;
}
.topNavEntryA {
	border-right: 1px #878787 solid;
}
/*购物车商品详情*/
.center {
	width: 100%;
	background-color: #ededed;
}
.cart {
	width: 1200px;
	margin: 0 auto;
}
.details {
	width: 100%;
	margin-top: 15px;
}
.topTitle {
	width: 100%;
	border-bottom: 1px solid #ededed;
	background-color: #fafafa;
	line-height: 45px;
	font-size: 15px;
	margin-bottom: -9px;
}
.goods {
	display: inline-block;
	width: 350px;
	padding-left: 20px;
	color: #333;
	line-height: 45px;
	text-align: center;
}
.price {
	display: inline-block;
	width: 170px;
	text-align: center;
	margin-left: 25px;
	color: #333;
	line-height: 45px;
	margin-left: 20px;
}
.number {
	display: inline-block;
	text-align: center;
	margin-left: 5px;
	color: #333;
	line-height: 45px;
	width: 200px;
}
.total {
	display: inline-block;
	text-align: center;
	margin-left: 45px;
	color: #333;
	line-height: 45px;
	width: 170px;
}
.operate {
	display: inline-block;
	text-align: center;
	margin-left: 25px;
	color: #333;
	line-height: 45px;
	width: 175px;
}
/*展示具体商品*/
.productList {
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #e5e5e5;
    padding: 10px 0;
    margin-top: 10px;
    float: left;
    margin-bottom: -9px;
}
.proImg {
    margin-left: 30px;
    width: 100px;
    float: left;
}
.proImg img {
    width: 100px;
    height: 100px;
    border: 1px solid #eee;
    vertical-align: middle;
}
.proName {
    margin-left: 40px;
    width: 200px;
    height: 102px;
    float: left;
    font-size: 0;
}
.proName:before {
	display: inline-block;
	content: '.';
	vertical-align: middle;	
	height: 100%;
}
.proName a {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    color: #333;    
}
.proPrice {
	line-height: 102px;
	width: 170px;
	text-align: center;
	margin-left: 25px;
	float: left;
	font-size: 16px;
	color: #333;
}
.proNumber {
	line-height: 102px;
	width: 200px;
	text-align: center;
	margin-left: 8px;
	margin-right: 27px;
	font-size: 14px;
	color: #333;
	float: left;
}
.proTotal {
	line-height: 102px;
	width: 170px;
	color: #e04040;
	text-align: center;
	font-size: 17px;
	float: left;
	margin-left: 20px;
}
.proOperate {
	width: 170px;
	float: left;
	margin-left: 35px;
	font-size: 15px;
	text-align: center;
	line-height: 102px;
}
.proOperate a {
	padding: 5px 15px;
	background-color: #e14041;
	color: #fff;
	border-radius: 5px;
	cursor: pointer;
}
.proOperate a:hover {
	background-color: #ee0000;
}
/* 弹窗 */
.commentPop {
	display: none;
	position: fixed;
    background-color: #fff;
    z-index: 50;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #ccc;
    border: 1px solid #ccc;
    top: 30%;
    left: 35%;
    width: 500px;
}
.popTitle {
	height: 40px;
    line-height: 40px;
    padding-left: 15px;
    border-bottom: 1px solid #ccc;
    font-size: 18px;
    background-color: #E8E8E8;
}
.innerContent {
	margin-top: 20px;
	padding: 0 50px;
}
.content {
	width: 400px;
	height: 150px;
	resize: none;
}
.content:focus {
	border: 1px solid #1E90FF;
	box-shadow: 0 0 2px 0 #1E90FF;
}
.innerBtn {
	margin-top: 10px;
	text-align: center;
	padding-bottom: 20px;
}
.cBtn {
	padding: 5px 13px;
	background-color: #e14041;
	border-radius: 5px;
	font-size: 16px;
	text-align: center;
	color: #fff;
	cursor: pointer;
}
.close {
	position: absolute;
    right: 5px;
    top: 1px;
    color: #ccc;
    cursor: pointer;
}
.tip {
	margin-top: 5px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	color: #e14041;
}
/*遮罩*/
.mask {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    z-index: 40;
    background-color: #ccc;
    opacity: 0.3;
}
/*底部*/
.footer {
	width: 1200px;
	margin: 0px auto;
}
.aboutUs {
	padding-top: 50px;
	border-top: 1px solid #ccc;
	margin-top: 100px;
	margin-bottom: 50px;
}
.aboutUs ul {
	list-style: none;
	width: 404px;
	margin: 0 auto;
	height: 17px;
}
.aboutUs ul li {
	float: left;
	width: 100px;
	height: 17px;
	line-height: 17px;
	text-align: center;
}
.aboutUs ul li a {
	color: #333;0
}
.fi {
	border-right: 1px #000 solid;
}
.aboutUs p {
	text-align: center;
	padding-top: 20px;
}